In [1]:
import pandas as pd
import matplotlib.pyplot as plt

##  Crear un DataFrame

In [ ]:
data = {
    'Nombre': ['Ana', 'Luis', 'Pedro', 'Marta', 'Jorge'],
    'Edad': [23, 34, 45, 28, 30],
    'Salario': [50000, 60000, 80000, 50000, 70000],
    'Horas_Trabajo': [40, 50, 60, 40, 45]
}

df = pd.DataFrame(data)
df

## Ordenar las filas

In [ ]:
df_ordenado = df.sort_values(by='Edad')
print("\nDataFrame ordenado por Edad:")
print(df_ordenado)

## Filtrar filas

In [ ]:
# Filtrar filas donde el Salario es mayor a 60,000
df_filtrado = df[df['Salario'] > 60000]
print("\nFiltrado por Salario mayor a 60,000:")
print(df_filtrado)

## Graficar datos

In [ ]:
# Graficar la relación entre Salario y Horas de Trabajo
plt.figure(figsize=(8, 6))
plt.scatter(df['Salario'], df['Horas_Trabajo'], color='blue')
plt.title('Relación entre Salario y Horas de Trabajo')
plt.xlabel('Salario')
plt.ylabel('Horas de Trabajo')
plt.grid(True)
plt.show()

## Sumar y restar columnas

In [ ]:
# Agregar una columna que sea el salario por hora de trabajo
df['Salario_Hora'] = df['Salario'] / df['Horas_Trabajo']
print("\nDataFrame con columna Salario por Hora:")
print(df)

# Restar Edad de Salario_Hora
df['Ajuste_Salario'] = df['Salario_Hora'] - df['Edad']
print("\nDataFrame con columna Ajuste Salario:")
print(df)

## Agregar una columna

In [ ]:
# Agregar una columna que indique si la persona gana más de 65,000
df['Gana_Mas_65000'] = df['Salario'] > 65000
print("\nDataFrame con columna Gana Mas 65000:")
print(df)

## Eliminar una o más columnas

In [ ]:
# Eliminar las columnas 'Salario_Hora' y 'Ajuste_Salario'
df = df.drop(columns=['Salario_Hora', 'Ajuste_Salario'])
print("\nDataFrame después de eliminar columnas:")
print(df)